<div class="container my-5">
  <div class="row">
    <div class="col-10 mx-auto">

      <!--エラーメッセージ-->
      <%= render "layouts/errors", obj: current_customer %>

      <h5 class="font-weight-bold ml-5 mb-5"><span class="bg-light px-4">会員情報編集</span></h5>

      <!--会員情報編集フォーム-->
      <%= form_with model: current_customer, url: customers_path do |f| %>
        <div class="form-group">
          <table class="table table-sm table-borderless">
            <tr>
              <td width="24%">氏名</td>
              <td width="24%"><%= f.text_field :last_name, placeholder: "令和", class: "form-control" %></td>
              <td width="4%"></td>
              <td width="24%"><%= f.text_field :first_name, placeholder: "道子", class: "form-control" %></td>
              <td width="24%"></td>
            </tr>
            <tr>
              <td>フリガナ</td>
              <td><%= f.text_field :last_name_kana, placeholder: "レイワ", class: "form-control" %></td>
              <td></td>
              <td><%= f.text_field :first_name_kana, placeholder: "ミチコ", class: "form-control" %></td>
              <td></td>
            </tr>
            <tr>
              <td>郵便番号</td>
              <td><%= f.text_field :postal_code, placeholder: "0000000", class: "form-control" %></td>
            </tr>
            <tr>
              <td>住所</td>
              <td colspan="4"><%= f.text_field :address, placeholder: "東京都渋谷区代々木神園町0-0", class: "form-control" %></td>
            </tr>
            <tr>
              <td>電話番号</td>
              <td><%= f.telephone_field :phone_number, placeholder: "00000000000", class: "form-control" %></td>
            </tr>
            <tr>
              <td>メールアドレス</td>
              <td><%= f.email_field :email, placeholder: "sample@example.com", class: "form-control" %></td>
            </tr>

            <tr>
              <td></td>
              <td><%= f.submit "編集内容を保存", class: "btn btn-block btn-success font-weight-bold my-3" %></td>
              <td></td>
              <td></td>
              <td><%= link_to "退会する", customers_confirm_path, class: "btn btn-danger font-weight-bold my-3 px-4" %></td>
            </tr>
          </table>
        </div>
      <% end %>

    </div>
  </div>
</div>