<div class="container my-5">
  <div class="row">
    <div class="col-10 mx-auto">

      <h5 class="font-weight-bold ml-5 mb-5"><span class="bg-light px-4">商品編集</span></h5>

      <%= form_with model: [:admin, @item], url: admin_item_path do |f| %>
        <div class="col-8 mx-auto form-group">

          <!--商品情報入力フォーム-->
          <table class="table table-borderless">
            <tr>
              <td>商品画像</td>
              <td><%= f.file_field :image, accept: "image/png, image/jpeg" %></td>
            </tr>
            <tr>
              <td>商品名</td>
              <td><%= f.text_field :name, placeholder: "商品名", class: "form-control" %></td>
            </tr>
            <tr>
              <td>商品説明</td>
              <td><%= f.text_area :description, placeholder: "ここに説明文を記述します", class: "form-control" %></td>
            </tr>
            <tr>
              <td>ジャンル</td>
              <td><%= f.collection_select :genre_id, @genres, :id, :name, { prompt: "-- 選択してください --" }, class: "form-control" %></td>
            </tr>
            <tr>
              <td>税抜価格</td>
              <td><%= f.text_field :price, placeholder: "1000", class: "form-control" %></td>
            </tr>
            <tr>
              <td>販売ステータス</td>
              <td>
                <%= f.radio_button :is_active, true, checked: true %>
                <%= label_tag :is_active_true, "販売中" %>
                <%= f.radio_button :is_active, false, class: "ml-3" %>
                <%= label_tag :is_active_false, "販売停止中" %>
              </td>
            </tr>
          </table>

          <!--変更保存ボタン-->
          <div class="text-center">
            <%= f.submit "変更を保存", class: "btn btn-success btn-lg" %>
          </div>

        </div>
      <% end %>

    </div>
  </div>
</div>