<div class="container my-5">
  <div class="row">
    <div class="col-10 mx-auto">

      <!--エラーメッセージ-->
      <%= render 'layouts/errors', obj: @item %>

      <h5 class="ml-5 mb-5"><span class="title-custom px-4">商品編集</span></h5>

      <div class="col-8 mx-auto form-group">
        <%= form_with model: [:admin, @item], url: admin_item_path do |f| %>
          <!--商品情報入力フォーム-->
          <table class="table table-borderless">
            <tr>
              <td>商品画像</td>
              <td>
                <%= f.file_field :image, accept: "image/png, image/jpeg" %><br>
                <!--プレビュー表示-->
                <img class="mt-2" id="image-preview" src="#" alt="プレビュー" style="max-width: 150px; border: solid thin lightgray; border-radius: 5px;">
              </td>
            </tr>
            <tr>
              <td>商品名</td>
              <td><%= f.text_field :name, placeholder: "商品名", class: "form-control" %></td>
            </tr>
            <tr>
              <td>商品説明</td>
              <td><%= f.text_area :description, placeholder: "ここに説明文を記述します", class: "form-control", rows: "5%" %></td>
            </tr>
            <tr>
              <td>ジャンル</td>
              <td><%= f.collection_select :genre_id, @genres, :id, :name, { prompt: "-- 選択してください --" }, {required: true, class: "form-control"} %></td>
            </tr>
            <tr>
              <td>税抜価格</td>
              <td><%= f.text_field :price, placeholder: "1000", class: "form-control" %></td>
            </tr>
            <tr>
              <td>販売ステータス</td>
              <td>
                <%= f.radio_button :is_active, true, checked: true %>
                <%= label_tag :is_active_true, "販売中" %>
                <%= f.radio_button :is_active, false, class: "ml-3" %>
                <%= label_tag :is_active_false, "販売停止中" %>
              </td>
            </tr>
          </table>
          <!--変更保存ボタン-->
          <div class="text-center">
            <%= f.submit "変更を保存", class: "btn btn-success btn-lg" %>
          </div>
        <% end %>
      </div>

    </div>
  </div>
</div>

<!--画像ファイルが選択された際に発火し、画像のプレビューを表示-->
<script>
  // 初期状態では非表示に
  $("#image-preview").hide();

  // 画像が選択された際に実行される関数
  function showPreview(event) {
    var file = event.target.files[0];
    var reader = new FileReader();

    // アップロードした画像をセットし、表示する
    reader.onload = function(e) {
      var previewElement = $("#image-preview");
      previewElement.attr("src", e.target.result);
      previewElement.show(); // 画像を表示する
    }

    // ファイルをデータURL形式で読み込む
    if (file) {
      reader.readAsDataURL(file);
    }
  }

  // 再度別画像が読み込まれた時にプレビューを変更する
  var fileInput = $("#item_image");
  fileInput.on("change", showPreview);
</script>