<div class="container my-5">
  <div class="row">
    <div class="col-10 mx-auto">

      <h5 class="ml-5 mb-5"><span class="title-custom px-4">商品詳細</span></h5>

      <div class="row mx-auto">
        <!--商品画像-->
        <div class="col-4 pt-3">
          <%= image_tag @item.get_image(200, 150) %>
        </div>

        <!--商品詳細-->
        <div class="col-7">
          <table class="table table-borderless table-item">
            <tr>
              <td>商品名</td>
              <td><%= @item.name %></td>
            </tr>
            <tr>
              <td>商品説明</td>
              <td><%= @item.description %></td>
            </tr>
            <tr>
              <td>ジャンル</td>
              <td><%= @item.genre.name %></td>
            </tr>
            <tr>
              <td>税込価格<br>(税抜価格)</td>
              <td><%= @item.with_tax_price.to_s(:delimited) %>（<%= @item.price.to_s(:delimited) %>）円</td>
            </tr>
            <tr>
              <td>販売ステータス</td>
              <td class="h5"><%= @item.status %></td>
            </tr>
          </table>
        </div>

        <!--編集ページ遷移ボタン-->
        <div class="mx-auto mt-5">
          <%= link_to "編集する", edit_admin_item_path(@item.id), class: "btn btn-usually btn-lg" %>
        </div>
      </div>

    </div>
  </div>
</div>