<div class="container">
  <div class="row">

    <div class="col-2">
      <div class="card border-dark">
        <h7 class="card-title text-center font-weight-bold">ジャンル検索</h7>
        <hr class="my-1 border-dark">
        <div class="card-body pt-2 pb-5">
          <% @genres.each do |genre| %>
            <%= link_to genre.name, items_path(genre_id: genre.id), class: "mb-2" %><br>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-9 offset-1">
      <div class="bg-primary d-flex justify-content-center align-items-center" style="width: 700px; height: 300px">
        <div class="card mb-3" style="width: 400px; height: 100px">
     　    ようこそながのCAKEへ！<br>
       　  このサイトは、ケーキ販売のECサイトになります。<br>
       　  会員でない方も商品の閲覧はできますが、<br>
       　  購入には会員登録が必要になります。
        </div>
      </div>

      <div class="h2 font-weight-bold my-3">新着商品</div>
      <div class="items d-flex">

        <% @items.each do |item| %>
          <div class="item mr-3">
            <%= link_to item_path(item.id) do %>
              <%= image_tag item.get_image(200, 150) %>
            <% end %><br>
            <b><%= item.name %></b><br>
            <b>¥<%= item.price %></b>
          </div>
        <% end %>

      </div>

      <div class="mt-3 text-right">
        <%= link_to "全ての商品を見る >", items_path %>
      </div>

    </div>

  </div>
</div>