<div class="container my-5">
  <div class="row">

    <!--サイドバー部分-->
    <%= render 'sidebar', genres: @genres %>

    <!--メイン部分-->
    <div class="col-9 offset-1">
      <!--メイン画像の仮置き-->
      <div class="bg-primary d-flex justify-content-center align-items-center" style="width: 700px; height: 300px">
        <div class="card mb-3" style="width: 400px; height: 100px">
     　    ようこそながのCAKEへ！<br>
       　  このサイトは、ケーキ販売のECサイトになります。<br>
       　  会員でない方も商品の閲覧はできますが、<br>
       　  購入には会員登録が必要になります。
        </div>
      </div>

      <!--商品群-->
      <div class="h2 font-weight-bold mt-4">新着商品</div>
      <div class="items d-flex mx-4">

        <!--１つの行に４商品を表示する-->
        <div class="row">
          <% @items.each do |item| %>

            <!--１商品-->
            <div class="col-3 mt-3", style="padding-left: 0px">
              <%= link_to item_path(item.id) do %>
                <%= image_tag item.get_image(180, 180) %>
              <% end %><br>
              <b><%= item.name %></b><br>
              <b>¥<%= number_with_delimiter(item.price) %></b>
            </div>

          <% end %>
        </div>

      </div>

      <div class="mt-3 text-right">
        <%= link_to "全ての商品を見る >", items_path %>
      </div>

    </div>

  </div>
</div>