<div class="container my-5">
  <div class="row">
    <div class="col-10 mx-auto">

      <h5 class="mb-5"><span class="title-custom px-4">会員一覧</span></h5>

      <!--会員一覧テーブル-->
      <div class="row">
        <div class="col-10 mx-auto">
          <table class="table table-colored">
            <thead>
              <tr>
                <th>会員ID</th>
                <th>氏名</th>
                <th>メールアドレス</th>
                <th>ステータス</th>
              </tr>
            </thead>
            <tbody>
              <% @customers.each do |customer| %>
                <tr>
                  <td><%= customer.id %></td>
                  <td><%= link_to customer.full_name, admin_customer_path(customer.id) %></td>
                  <td><%= customer.email %></td>
                  <td><%= customer.status %></td>
                </tr>
              <% end %>
            </tbody>
          </table>

          <!--ページネーション-->
          <div class="d-flex justify-content-center">
            <%= paginate @customers, theme: 'bootstrap-5' %>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>