<div class="container my-5">
  <div class="row">

    <div class="col-7">

      <!--エラーメッセージ-->
      <%= render 'layouts/errors', obj: @genre %>

      <h5 class="ml-5 mb-3"><span class="title-custom px-4">ジャンル編集</span></h5>

      <!--ジャンル編集欄-->
      <%= form_with model: @genre, url: admin_genre_path do |f| %>

        <table class="table table-borderless my-5">
          <tr>
            <td class="align-middle">ジャンル名</td>
            <td><%= f.text_field :name, placeholder: "ジャンル名", class:"form-control" %></td>
          <tr>
            <td>ステータス</td>
              <td>
                <%= f.radio_button :is_active, true, checked: true %>
                <%= label_tag :is_active_true, "有効" %>
                <%= f.radio_button :is_active, false, class: "ml-3" %>
                <%= label_tag :is_active_false, "無効" %>
              </td>
            </tr>
            <td><%= f.submit "変更を保存", class:"btn btn-block btn-success font-weight-bold ml-3" %></td>
          </tr>
        </table>

      <% end %>