<div class="container my-5">
  <div class="row">

    <div class="col-7">
      <h5 class="font-weight-bold mb-5"><span class="bg-light px-4">ジャンル一覧・追加</span></h5>

      <%= form_with model: @genre, url: admin_genres_path do |f| %>

        <table class="table table-borderless my-5">
          <tr>
            <td>ジャンル名</td>
            <td><%= f.text_field :name, placeholder: "ジャンル名", class:"form-control" %></td>
            <td><%= f.submit "新規登録", class:"btn btn-block btn-success font-weight-bold ml-3" %></td>
          </tr>
        </table>

        <div class="col-9">
          <table class="table">
            <thead class="bg-light">
              <th class="text-center">ジャンル</th>
              <th colspan="2"></th>
            </thead>

            <tbody>
              <% @genres.each do |genre| %>
                <tr>
                  <td><%= genre.name %></td>
                  <td><%= link_to "編集する", edit_admin_genre_path(genre), class:"col-7 offset-3 btn btn-block btn-success" %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>

      <% end %>

    </div>
  </div>
</div>