<div class="container my-5">
  <div class="row">
    <div class="col-10 mx-auto">

      <h5 class="font-weight-bold mb-5"><span class="bg-light px-4">注文履歴一覧</span></h5>

      <table class="table">
        <thead class="bg-light">
          <tr>
            <th>購入日時</th>
            <th>購入者</th>
            <th>注文個数</th>
            <th>注文ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @orders.each do |order| %>
          <tr>
            <td><%= order.created_at.strftime('%Y/%m/%d %H:%M:%S') %></td>
            <td><%= order.customer.full_name %></td>
            <td><%= order.order_details.count %></td>
            <td><%= order.status %></td>
          </tr>
          <% end %>
        </tbody>
      </table>

      <!--ページネーション-->
      <div class="d-flex justify-content-center">
        <%= paginate @orders, theme: 'bootstrap-5' %>
      </div>

    </div>
  </div>
</div>