<div class="container my-5">
  <div class="row">
    <div class="col-9 mx-auto">
      <div class="row align-items-center">
        <h5 class="font-weight-bold"><span class="bg-light px-4">注文情報入力</span></h5>
      </div>

      <%= form_with url: orders_confirm_path do |f| %>
        <!--支払方法-->
        <div class="row">
          <b>支払方法</b><br>
          <div class="form-group">
            <%= f.radio_button :payment_method, Order.payment_methods.key(0) %>
            <%= f.label :payment_method_credit_card, Order.payment_methods_i18n[:credit_card] %>
            <%= f.radio_button :payment_method, Order.payment_methods.key(1) %>
            <%= f.label :payment_method_transfer, Order.payment_methods_i18n[:transfer]%>
          </div>
        </div>

        <!--お届け先-->
        <div class="row">
          <b>お届け先</b><br>
          <%= f.select :address_id, options_from_collection_for_select(current_customer.addresses.all, :id, :address_display) %>
        </div>
      <% end %>

    </div>
  </div>
</div>