<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="col-3">
      <%= link_to root_path, class: 'nav-link nav-brand' do %>
        <span>LOGO</span>
      <% end %>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="col">
      <div class="row">
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
          <ul class="navbar-nav ml-5">
            <% if customer_signed_in? %>
              <!--Customer ログイン後header-->
              <span class="navbar-text mr-4">ようこそ、<%= current_customer.full_name %>さん</span>
              <li><%= link_to "マイページ", customers_path, class: 'nav-link' %></li>
              <li><%= link_to "商品一覧", items_path, class: 'nav-link' %></li>
              <li><%= link_to "カート", cart_items_path, class: 'nav-link' %></li>
              <li><%= link_to "ログアウト", destroy_customer_session_path, class: 'nav-link', method: :delete %></li>
            <% elsif admin_signed_in? %>
              <!--Admin ログイン後header-->
              <li><%= link_to "商品一覧", admin_items_path, class: 'nav-link' %></li>
              <li><%= link_to "会員一覧", admin_customers_path, class: 'nav-link' %></li>
              <li><%= link_to "注文履歴一覧", admin_path, class: 'nav-link' %></li>
              <li><%= link_to "ジャンル一覧", admin_genres_path, class: 'nav-link'%></li>
              <li><%= link_to "ログアウト", destroy_admin_session_path, class: 'nav-link', method: :delete %></li>
            <% else %>
              <!--共通ログイン前 header-->
              <li><%= link_to "About", about_path, class: 'nav-link' %></li>
              <li><%= link_to "商品一覧", items_path, class: 'nav-link' %></li>
              <li><%= link_to "新規登録", new_customer_registration_path, class: 'nav-link' %></li>
              <li><%= link_to "ログイン", new_customer_session_path, class: 'nav-link' %></li>
            <% end %>
          </ul>
        </div>
      </div>
      <div class="row justify-content-end">
            <%= form_with url: "#",class: "form-inline" do |f| %>
              <%= f.text_field :search, class: "form-control"%>
              <%= f.submit "検索", class: "btn btn-outline-success"%>
            <% end %>
        </div>
    </div>
  </nav>
</header>